.about {
  padding-top: 0;
}

.about__title {
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  font-weight: 700;
  line-height: 1.14;
  padding: 27px 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}