.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;

   .link.header__link__current {
    color: var(--accent-color);
  }
   .header__link__current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    right: 0;
    bottom: -1px;
  }
}

.header__item, .header__contacts-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__logo {
  font-family:'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 95px;
}

.header__logo_black {
  color: #000000;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.header__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}


