.preference__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.preference__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.preference__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--third-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.preference__icon-svg {
  width: 70px;
  height: 70px;
}

.preference__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-title-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.preference__text {
  line-height: 1.71;
}
