.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}

.modal-field{
  margin-bottom: 10px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  .modal-input:focus + &,
  .modal-input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  padding: 12px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-btn {
  font-weight: 700;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188CE8;
  }
}

.check-text {
  line-height: 1.71;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    .modal-checkbox:checked + & span {
      background-color: var(--accent-color);
      border: none;
    }
    .modal-checkbox:hover + & span,
    .modal-checkbox:focus + & span {
      border: 2px solid var(--accent-color);
    }
}

.check-color-href {
  color: var(--accent-color);
}

