.backdrop {
  &.is-hidden .modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

